{% block doctype_html %}<!doctype html>
<html lang='pt-br'>{% endblock %}
{% block head_start %}<head>{% endblock %}
{% block meta_base %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"> 
    <meta name="description" content="{{ page_description }}" />
{% endblock %}
{% block meta_opengraph %}
    <meta property="og:title" content="{{ og_title }}"/>
    <meta property="og:type" content="{{ og_type }}"/>
    <meta property="og:url" content="{{ og_url }}"/>
    <meta property="og:image" content="{{ og_image }}"/>
    <meta property="og:site_name" content="{{ og_site_name }}"/>
    <meta property="og:description" content="{{ og_description }}"/>
{% endblock %}
{% block head %}
    <title>{{ page_title|default:"Voto Legal" }}</title>
{% endblock %}
{% block head_css %}
    <link href="{{ STATIC_URL }}voto_legal/css/font-face.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}voto_legal/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}voto_legal/js/ui-lightness/jquery-ui-1.8.20.custom.css">
    <link href="{{ STATIC_URL }}voto_legal/css/style.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}
{% block head_script %}
    <script type='text/javascript' src='{{ STATIC_URL }}voto_legal/js/yepnope.min.js'></script>
    <!--[if lt IE 9]><script src="{{ STATIC_URL }}voto_legal/js/html5shiv.js"></script><![endif]-->
{% endblock %}
{% block head_end %}<head>{% endblock %}
{% block body_start %}<body class='{{ bodyclass }}'>{% endblock %}

{% block menu %}

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
    <div class="container">
        <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="brand" href="/">votolegal.org</a>
        <div class="nav-collapse collapse">
            <ul class="nav">
                <li>
                    <a href='#'>Políticos</a>
                </li>
                <li>
                    <form class="navbar-search api-search-form">
                        <div>
                            <input type="hidden" class="api-search-slug">
                            <input type="text" class="search-query span4 api-search-field" placeholder="Buscar palamentar">
                            <div class="icon-search api-search-send"></div>
                        </div>
                    </form>
                </li>
            </ul>
            <ul class="nav pull-right">
                {% if user.is_authenticated %}
                <li id="fat-menu" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuário<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/">Dashboard</a></li>
                        <li><a href="/perfil/{{ user.get_profile.facebook_id }}">Meu Perfil</a></li>
                        <li><a href="#">Configurações</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url facebook_logout %}">Sair</a></li>
                    </ul>
                </li>
                {% else %}
                <li id="fat-menu" class="dropdown">
                    <a href='{% url facebook_login %}'>Entrar</a>
                </li>
                {% endif %}
            </ul>
        </div>

    </div>
    </div>
</div>

{% endblock menu %}

{% block content %}{% endblock %}

<section class='container'>
    <footer class="footer">
        <div class='row'>
            <span class="span6">
                <p><strong>Votolegal.org</strong> é um projeto sem fins lucrativos, desenvolvido por <strong>manbanegra team</strong></p>
                <p>Os dados são coletados de diversas fontes: transparência brasil, wikipedia, tse, etc...</p>
            </span>
            <span class="span6">
                <iframe src="http://www.facebook.com/plugins/facepile.php? 
                app_id=108604439280662" scrolling="no" frameborder="0" style="border:none;  
                overflow:hidden; width:550px;" allowTransparency="true"></iframe>
            </span>
        </div>
      </footer>
</section>

{% block footer_css %}{% endblock %}
{% block footer_scripts %}<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=108604439280662";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script type='text/javascript'>
yepnope([
    {
        load: '{{ STATIC_URL }}voto_legal/js/jquery.min.js',
        complete: function (){
            console.log("jquery loaded!");
        }
    },
    {
        load: '{{ STATIC_URL }}voto_legal/js/bootstrap.min.js',
        complete: function (){
            console.log('bootstrap loaded!')
        }
    },
    {
        load: '{{ STATIC_URL }}voto_legal/js/jquery-ui.min.js',
        complete: function (){
            console.log('jquery-ui loaded!')
        }
    },
    {
        load: '{{ STATIC_URL }}voto_legal/js/script.js',
        complete: function (){
            console.log('script loaded!')
        }
    },
]);
</script>{% endblock %}
{% block body_html_end %}</body>
</html>{% endblock %}
