{% extends "base.html" %}
{% block head_css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}voto_legal/js/ui-lightness/jquery-ui-1.8.20.custom.css">
{% endblock %}
{% block content %}
<section class='container'>
    <div class='row-fuild'>
        <section class='span12'>
            <h1 class='big'>Qual o seu candidato?</h1>
            <form class='politico search span6' action="/ajax/candidato/" method="post">
                <input class='field' type='text' autocomplete="off" placeholder="digite o nome do candidato" />
                <input class='slug' type='hidden' />
                <a href='#' class='btn btn-primary send'>Ir</a>
            </form>
        </section>
    </div>
</section>
{% endblock %}
