{% extends "base.html" %}

{% block footer_scripts %}
    {{ block.super }}
    
    <script type='text/javascript'>
    yepnope([
        {
            load: '{{ STATIC_URL }}voto_legal/js/jquery.min.js',
            complete: function (){
                (function($){
                    
                    $formEstados = $('#form-estados');
                    $formEstados.bind('submit', function(){
                        
                        if ($('select', $formEstados).val() != -1){
                            $.get('/usuario/estado', $formEstados.serialize(), function(response){
                                
                                $ul = $("<ul class='politicos-estado'></ul>");
                                $.each(response.politicos, function(){
                                    $li = $("<li><a href='/politico/"+ this.slug +"' title='"+this.apelido+"'><img src='"+ this.imagem +"'></img></a></li>");
                                    $ul.append($li);
                                    
                                })
                                $formEstados.after($ul);
                                $formEstados.remove();
                            });
                        }
                        
                        
                        return false;
                    })
                })(jQuery);
            }
        }
    ]);
        
    </script>
    
{% endblock %}

{% block content %}
<section class='container pagespot'>
    <div class='row-fuild'>
        <section class='span12'>
            <h1 class='big'>Qual o seu candidato?</h1>
            <form class='politico search span6' action="/ajax/candidato/" method="post">
            	<div class='row'>
                <input class='field span5' type='text' autocomplete="off" placeholder="digite o nome do candidato" />
                <input class='slug' type='hidden' />
                <a href='#' class='btn btn-primary send span1'>Ir</a>
            </div>
            </form>
        </section>
    </div>
</section>
<section class='container'>
	<div class="row-fluid">
        <section class="span4">
            <h2>Seguindo</h2>

            {% for politico in politicos_que_sigo %}
            <div class="clearfix" style="border-bottom: 1px solid #ccc;padding:5px;">
                <a href="{% url 'single_politico' politico.slug %}">
                <img src="{{ politico.imagem }}" alt="{{ politico.nome }}" align="left" width="32">
                <div style="padding-top:5px;padding-left:40px;">
                    {{ politico.apelido }}<br>
                (<span>{{ politico.partido.sigla }}-{{ politico.uf.sigla }}</span>)
                </div>
                </a>
            </div>
            {% endfor %}
        </section>
        
        <section class="span4">
            <h2>Seus Amigos</h2>
            {% if my_friends %}
            {% for friend in my_friends %}
            <div class="clearfix" style="border-bottom: 1px solid #ccc; padding: 5px;">
                <a href="{% url 'perfil' friend.fb_id %}">
                <img src="{{ friend.picture }}" alt="{{ friend.name }}" align="left" height="32">
                <div style="padding-top:5px;padding-left:60px;">
                    {{ friend.name }}
                </div>
                </a>
            </div>
            {% endfor %}
            {% else %}
            <h4>nenhum dos seus amigos vota legal... =(</h4>
            {% endif %}
        </section>
        <section class="span4">
            <h2>Políticos do seu estado</h2>
            {% if usuario_dados %}
            
                <ul class='politicos-estado'>
                    {% for politico in usuario_dados.politico_same_uf %}
                        <li><a href='{% url 'single_politico' politico.slug %}' title='{{ politico }}'><img src='{{ politico.imagem }}' width="32" /></a></li>
                    {% endfor %}
                </ul>
            
            {% else %}
                
                <form class="form-horizontal" style='margin-top:20px' id='form-estados'>
                    <select name='estado'>
                        <option value='-1'>escolha um estado</option>
                    {% for estado in estados %}
                        <option value='{{ estado.id }}'>{{estado.sigla}}</option>
                    {% endfor %}
                    </select>
                    <button type="submit" class="btn">salvar</button>
                    
                </form>

            {% endif %}
            
        </section>
    </div>
</section>
{% endblock %}
