{% extends "base.html" %}
{% block content %}
<section class='container subhead'>
    <div class='row-fluid'>
        <div class='span2 photowrap'>
            <img src="http://graph.facebook.com/{{ user.get_profile.facebook_id }}/picture?type=large" />
        </div>
        <div class='span10'>
            {% if facebook.link %}<a href='{{ facebook.link }}' target='_blank' class='perfil-title'>{% endif %}<h1>{{ facebook.name }}</h1>{% if facebook.link %}</a>{% endif %}
            <p class='info'>
           {% if yearsold %}<span class='idade'>{{ yearsold }} anos</span>, {% endif %}{% if yearsold %}<span class='localizacao'>{{ facebook.location.name }}</span>{% endif %}
            </p>
            {% if facebook.bio %}
            <p class='lead'>
                {{ facebook.bio }}
            </p>
            {% endif %}
        </div>
    </div>
</section>
<section class='container'>
	<div class="row-fluid">
        <section class="span6">
            <h2>Políticos vigiados</h2>

            {% for politico in politicos_que_sigo %}
            <div class="clearfix" style="border-bottom: 1px solid #ccc;padding:5px;">
                <a href="#">
                <img src="{{ politico.imagem }}" alt="{{ politico.nome }}" align="left" width="32">
                <div style="padding-top:5px;padding-left:40px;">
                    {{ politico.apelido }}<br>
                (<span>{{ politico.partido.sigla }}-{{ politico.uf.sigla }}</span>)
                </div>
                </a>
            </div>
            {% endfor %}
        </section>
        <section class="span6">
            <h2>You are logged in as: {{ user }}</h2>
            <a href="/logout">Logout</a>
            <h2>User info</h2>
            <br />
            <pre>{{ facebook|pprint }}</pre>
        </section>
    </div>
</section>
{% endblock %}
