{% extends "base.html" %}

{% block meta_opengraph %}
    <meta property="og:title" content="{{ politico }}"/>
    <meta property="og:url" content="votolegal.org/politico/{{politico.slug}}"/>
    <meta property="og:image" content="{{ politico.imagem }}"/>
    <meta property="og:site_name" content="VotoLegal.org"/>
{% endblock %}

{% block footer_scripts %}
    {{ block.super }}
    
    <script type='text/javascript'>
    yepnope([
        {
            load: '{{ STATIC_URL }}voto_legal/js/highcharts.js',
            complete: function (){
                (function($) {
                    $(document).ready(function() {
                	    chart = new Highcharts.Chart({
                    		chart: {
                    			renderTo: 'categorias',
                    			plotBackgroundColor: null,
                    			plotBorderWidth: null,
                    			plotShadow: false,
                    			backgroundColor: '#eee',
                    		},
                    		title: {
                    			text: 'projetos apresentados até 2012'
                    		},
                    		tooltip: {
                    			formatter: function() {
                    				return '<b>'+ this.point.name +'</b>: '+ this.y;
                    			}
                    		},
                    		plotOptions: {
                    			pie: {
                    				allowPointSelect: true,
                    				cursor: 'pointer',
                    				dataLabels: {
                    					enabled: false,
                    				},
                    				showInLegend: true
                    			}
                    		},
                    		series: [{
                    			type: 'pie',
                    			name: 'total de projeto',
                    			data: [
                    				{% for categoria in categorias %}
                    				    ["{{categoria.categoria_projeto.nome}}", {{categoria.quantidade|floatformat}}],
                    				{% endfor %}
                    			]
                    		}]
                    	});
                    	
                    	chart2 = new Highcharts.Chart({
                    		chart: {
                    			renderTo: 'categorias-relevantes',
                    			plotBackgroundColor: null,
                    			plotBorderWidth: null,
                    			plotShadow: false,
                    			backgroundColor: '#eee',
                    			width:500
                    		},
                    		title: {
                    		    text: "Relevantes / Irrelevantes"
                    		},
                    		tooltip: {
                    			formatter: function() {
                    				return '<b>'+ this.point.name +'</b>: '+ this.y;
                    			}
                    		},
                    		plotOptions: {
                    			pie: {
                    				allowPointSelect: true,
                    				cursor: 'pointer',
                    				dataLabels: {
                    					enabled: false,
                    				},
                    				showInLegend: true
                    			}
                    		},
                    		series: [{
                    			type: 'pie',
                    			name: 'Browser share',
                    			data: [
                    				    ["Relevantes", {{total_relevantes}}],
                    				    ["Irrelevantes", {{total_irrelevantes}}],
                    			]
                    		}]
                    	});
                    });
                    
                    var seguir = function(e){
                        $elem = $(e.target)
                        $.get('/politico/{{politico.slug}}/seguir', function(resposta){
                            $elem.after('<span class="label label-success">Seguindo</span>');
                            $elem.remove()
                        })
                    }
                    
                    var esquecer = function(e){
                        $elem = $(e.target)
                        $.get('/politico/{{politico.slug}}/esquecer', function(resposta){
                            $elem.after('<span class="label label-important">Esquecido</span>');
                            $elem.remove()
                        })
                    }
                    
                    $("#acompanhar").unbind().bind('click', seguir);
                    $("#esquecer").unbind().bind('click', esquecer);
                    
                })(jQuery);
            }
        },
    ]);
    </script>
{% endblock %}
{% block content %}
	{% load money %}
    <section class='container'>
        <div class='row row-fuild'>
            <section class='span12'>
                  <header class="jumbotron subhead" id="overview">
                        <img src='{{politico.imagem}}' align='left' style='margin-right:40px;border:1px solid #666'/>
                            <div class='actions' style='float:right'>
                            {% if acompanhamento %}
                                <a class="btn btn-primary btn-danger btn-large" href="#" id="esquecer">Esquecer</a>
                            {% else %}
                                <a class="btn btn-primary btn-success btn-large" href="#" id="acompanhar" >Acompanhar</a>
                            {% endif %}
                            </div>
                        <h1>
                            {{ politico }}
                        </h1>
                        <p class="lead">
                            {{ politico.biografia }}
                            <div class="fb-like" data-send="false" data-width="450" data-show-faces="false"></div>
                        </p>
                  </header>        
            </section>
        </div>

        <div class='row'>
            <section class='span12'>
                <h2>Produtividade Legislativa</h2>
            </section>
            <section class='span6'>
                <p id='categorias-relevantes'></p>
            </section>
            <section class='span6'>
                <p id='categorias'></p>
            </section>
        </div>
        
        <div class='row'>
            <section class='span6'>
                <h2>Noticias</h2>
                <ul>
                    {% for noticia in noticias %}
                        <li><a href='{{noticia.url}}'>{{noticia.titulo}}</a></li>
                    {% endfor %}
                </ul>
            </section>
            <section class='span6'>
                <h2>Principais doadores da campanha</h2>
                <p>
                <table class='table table-bordered table-striped'>
                  <thead>
                    <tr>
                      <th>Nome</th>
                      <th>CNPJ / CPF</th>
                      <th>Valor</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for doador in doadores %}
                          <tr>
                            <td>{{doador.doador.nome}}</td>
                            <td>{{ doador.doador.cnpj_cpf }}</td>
                            <td>{{ doador.valor|money }}</td>
                          </tr>
                      {% endfor %}
                  </tbody>
                </table>
                </p>
            </section>
        </div>
    </section>
    
{% endblock %}