/*====== General Stuff ======*/
body { background: url('../img/background.png') transparent repeat center center; }

@media (min-width: 980px) {
    body { padding-top:40px; }
}

.pagespot { margin-bottom:40px; }

.photowrap { padding:1px; background: rgba(0, 0, 0, 0.3); border-radius: 3px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07); display: block; }
.photowrap > img { background-color: #fff; border: 4px solid #fff; border-radius: 2px; }

/*====== Home Page ======*/
h1.big { text-transform: uppercase; font-family:'exo-medium'; font-size:65px; line-height: 1.5em; text-align:center; margin: 30px 0; letter-spacing: -1px; }
a.big.btn { text-transform: uppercase; font-family:'exo-extrabold'; padding: 1em 5em; font-size: 30px; margin: 0 auto; display: table; }


/*====== Search page ======*/
.search { display: table; margin:0 auto; float:none; }
.search .field { float:left; font-family:'exo-light'; padding: 0 8px; font-size: 25px; line-height: 52px; height: 52px; }
.search .send { display: block; font-family:'exo-medium'; font-size: 30px; padding: 0; line-height: 52px; height:52px; text-transform: uppercase; }

.navbar-search { position: relative; margin: 5px 10px; }
.navbar-search > div { position: relative; }
.navbar-search .search-query { padding-left: 29px; margin:0; }
.navbar-search .icon-search { position: absolute; top: 7px; left: 11px; background-image: url("../img/glyphicons-halflings-white.png"); }
.navbar-search .search-query:focus,
.navbar-search .search-query.focused { padding-left: 30px; }
.search-query:focus + .icon-search { background-image: url("../img/glyphicons-halflings.png"); }
​

.search > *,
.photowrap,
.photowrap > img { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/*====== Perfil ======*/
.subhead .perfil-title { text-decoration:none; color: #333; }
.subhead .perfil-title:hover { text-decoration:none; color: #555; }
.subhead .perfil-title h1 { margin-bottom: 15px; }


/*====== ___ ======*/

.subhead h1 { margin-bottom: 9px; font-weight: bold; letter-spacing: -1px; line-height: 1; font-size: 54px; }
p.info { margin-bottom: 10px; font-size: 20px; font-weight: 200; line-height: 27px; }
p.lead { margin-bottom: 18px; font-size: 20px; font-weight: 200; line-height: 27px; }

section {
    padding-top: 20px;
}

.footer {
margin-top: 45px;
padding: 35px 0 36px;
border-top: 1px solid 
#E5E5E5;
}
.bs-links {
	margin: 36px 0;
}
.quick-links {
min-height: 30px;
margin: 0;
padding: 5px 20px;
list-style: none;
text-align: center;
overflow: hidden;
}

/* Jumbotrons
-------------------------------------------------- */
.jumbotron {
  position: relative;
}
.jumbotron h1 {
  margin-bottom: 9px;
  font-size: 81px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  margin-bottom: 18px;
  font-weight: 300;
}
.jumbotron .btn-large {
  font-size: 20px;
  font-weight: normal;
  padding: 14px 24px;
  margin-right: 10px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
.jumbotron .btn-large small {
  font-size: 14px;
}
/* Masthead (docs home) */
.masthead {
  padding-top: 36px;
  margin-bottom: 72px;
}
.masthead h1,
.masthead p {
  text-align: center;
}
.masthead h1 {
  margin-bottom: 18px;
}
.masthead p {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 30px;
  line-height: 36px;
}


.politicos-estado{list-style:none;margin:0 0 0 -10px;padding:0;}
.politicos-estado li{float:left;}
.politicos-estado li a{display:block; margin:10px; border:1px solid #ccc;overflow:hidden;height:59px; -webkit-border-radius: 3px; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
          border-radius: 3px; /* Opera 10.5, IE9, Saf5, Chrome, FF4+, iOS 4, Android 2.1+ */
  /* useful if you don't want a bg color from leaking outside the border: */
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;

  -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
          box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);

}
.politicos-estado li a:hover{border:1px solid #999;}
.politicos-estado li a img{width:59px; margin-top:-16%;}