/*====== General Stuff ======*/
body { background: url('../img/background.png') transparent repeat center center; }

/*====== Home Page ======*/
h1.big { text-transform: uppercase; font-family:'exo-medium'; font-size:4.5em; line-height: 1.5em; text-align:center; margin: 1em 0; letter-spacing: -1px; }
.home a.entrar { text-transform: uppercase; font-family:'exo-extrabold'; padding: 1em 7em; font-size: 2.4em; margin: 0 auto; display: table; }

/*====== ___ ======*/
